button:hover {
    opacity: 0.8;
    cursor: pointer;
}

#adjacent-sibling-selector-answer, #general-sibling-selector-answer {
    display: none;
}

#test-hover-btn:hover {
    cursor: progress;
}

/* #add-smiley::after {
    content: url(../images/smiley.png);
} */
