body {
    background-color: #f4f3f4;
    letter-spacing: 0.7px;
}

footer {
    padding-bottom: 100px;
}

h1, h2, h3, h4, h5, h6, p {
    color: #d50b53;
}

ul, ol, li {
    color: #824ca7;
}

code {
    color: #1b1924;
    white-space: pre;
}

code:hover {
    cursor: text;
}

hr {
    border: 1px solid #dcd9c6;
}

.container {
    width: 800px;
    margin: auto;
    padding: 0 23px;
    border-left: 2px solid #dcd9c6;
    border-right: 2px solid #dcd9c6;
}

.main-title, .sub-title {
    text-align: center;
}

.sub-title {
    color: #824ca7;
}

.author p {
    margin: 5px 50px 5px;
    text-align: right;
    font-style: italic;
}

.navigate-btn {
    margin-bottom: 30px;
    text-align: center;
}

#backward-btn {
    color: #745935;
    margin-right: 30px;
    cursor: pointer;
}

#forward-btn {
    color: #745935;
    margin-left: 30px;
    cursor: pointer;
}

#backward-btn:hover, #forward-btn:hover {
    opacity: 0.6;
}

#css3-logo {
    height: 300px;
    display: block;
    margin: 0 auto 30px auto;
}

b[class="blue-bold"] {
    color: #824ca7;
}
