.demo-box-1 {
    width: 500px;
    height: 100px;
    background-color: powderblue;
}

.demo-max-width {
    max-width: 1000px;
    height: 100px;
    background-color: cornflowerblue;
}

.demo-width {
    width: 1000px;
    height: 100px;
    background-color: crimson;
}
